{% extends 'base.html' %}
{% load static wagtailimages_tags basket_tags %}

{% block static %}
    <link rel="stylesheet" href="{% static '/css/dish_page.css' %}">
{% endblock %}

{% block content %}
    <button onclick="
            if (window.history.length > 1)
            window.history.back();
            else
            document.location.href='{% url 'menu' %}';
            " id="backToMenu"
            class="bold btn d-flex align-items-center text-decoration-none gap-3">
        <i class="bi bi-arrow-return-left"></i>
    </button>
    <div class="wrapper row">
        <div class="col-lg-12 col-xl-6">
            {% image dishes.image original as image %}
            <div class="square-image mb-md-5">
                {% if image %}
                    <img src="{{ image.url }}" alt="{{ dishes.name }}">
                {% else %}
                    <p class="text-center bold position-relative top-50 translate-middle-y m-0">
                        Изображение отсутствует
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-12 col-xl-6">
            <p class="bold fs-1">
                {{ dishes.name }}
            </p>
            <p class="fs-4 me-md-4">
                {{ dishes.description }}
            </p>
            <p class="bold fs-2">
                {{ dishes.price }} ₽
            </p>

            {% get_quantity_tag dishes.id as quantity %}
            {% if quantity.quantity > 0 %}
                <p class="bold">
                    <a href="{% url 'order:remove_dish_from_basket' dishes.id %}" class="btn">
                        <i class="bi bi-dash-lg"></i>
                    </a>
                    {{ quantity.quantity }}
                    <a href="{% url 'order:add_dish_to_basket' dishes.id %}" class="btn">
                        <i class="bi bi-plus-lg"></i>
                    </a>
                </p>
            {% else %}
                <a href="{% url 'order:add_dish_to_basket' dishes.id %}"
                   class="btn btn-buy">Добавить</a>
            {% endif %}
        </div>
    </div>
{% endblock %}