{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags basket_tags %}

{% block content %}
    <div class="row">
        {% for category in categories %}
            <p class="d-flex flex-row-reverse justify-content-end">
                <a class="pseudo-anchor bold fs-3 hover-decoration"
                   href="#{{ category }}">
                    {{ category }}
                </a>
                <i class="anchor-hash fs-3 bi bi-hash"></i>
                <a id="{{ category }}" class="anchor"></a>
            </p>

            {% for dish in category.get_dish_list %}
                <div class="col-xl-4 col-md-6 d-flex justify-content-center">
                    <div class="card my-3" style="width: 18rem;">
                        <div class="h-85 position-absolute w-100"
                             onclick="document.location.href='{{ dish.get_absolute_url }}'"></div>
                        <div class="card-img-top">
                            {% image dish.image original as image %}
                            {% if image %}
                                <img src="{{ image.url }}" alt="{{ dish.name }}">
                            {% else %}
                                <p class="text-center bold position-relative top-50 translate-middle-y m-0">
                                    Изображение отсутствует
                                </p>
                            {% endif %}
                        </div>
                        <form class="card-body">
                            <h5 class="card-title fs-4">{{ dish.price }} ₽</h5>
                            <b class="card-subtitle">{{ dish.name }}</b>
                            <p class="card-text">{{ dish.description }}</p>
                            {% get_quantity_tag dish.id as quantity %}
                            {% if quantity.quantity > 0 %}
                                <p class="bold">
                                    <a href="{% url 'order:remove_dish_from_basket' dish.id %}" class="btn">
                                        <i class="bi bi-dash-lg"></i>
                                    </a>
                                    {{ quantity.quantity }}
                                    <a href="{% url 'order:add_dish_to_basket' dish.id %}" class="btn">
                                        <i class="bi bi-plus-lg"></i>
                                    </a>
                                </p>
                            {% else %}
                                <a href="{% url 'order:add_dish_to_basket' dish.id %}"
                                   class="w-100 btn btn-buy">Добавить</a>
                            {% endif %}

                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>


{% endblock %}
