.square-image {
    aspect-ratio: 1 / 1;
    height: auto;
    max-width: 500px !important;
    padding: 0 !important;
    border-radius: 15px;
    background: #f6f6f6;
    margin: 0 auto;
}

.square-image img {
    border-radius: inherit;
}

#backToMenu {
    padding: 20px;
}

@media (max-width: 576px) {
    .content {
        margin: 0 !important;
        border-radius: 0 !important;
    }

    #backToMenu {
        position: relative;
        margin: 0;
    }

    .square-image {
        margin: 0 0 20px 0 !important;
    }
}

.bth:active {
    border: none !important;
}