html * {
    font-size: 20px;
    --main-color: #197C37;
    scroll-behavior: smooth;
    color: #2E3138 !important;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    transition: .3s all ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-img-top {
    height: 200px;
    overflow: hidden;
    background: #f6f6f6;
}

.card {
    animation: fade-in .3s ease-in;
    width: 300px;
    transition: .3s all ease-in-out;
    border: none !important;
    border-radius: 15px !important;
    background: red;
    overflow: hidden;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 50px 20px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 50px 20px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 50px 20px rgba(34, 60, 80, 0.2);
}

.card:hover .card-img-top > img {
    scale: 105%;
}

.btn-buy {
    transition: .3s all ease-in-out;
    background: none !important;
    border: 1px solid var(--main-color) !important;
    border-radius: 10px !important;
    font-weight: 500 !important;
}

.btn-buy:hover {
    background: var(--main-color) !important;
    color: white !important;
}

.card-text {
    height: 62px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.fade-navbar {
    transition: .3s all ease-in-out;
}

.navbar {
    background-color: white !important;
}

.bold {
    font-weight: 500;
}

.thin {
    font-weight: 200;
}

.content {
    margin-top: 90px!important;
    background: rgba(242, 250, 260, 60%);
    border-radius: 25px;
    padding: 25px 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-up {
    0% {
        transform: translateY(-25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.dropdown-menu {
    animation: fade-up .15s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.hover-decoration {
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(0, 0, 0, 0);
}

.hover-decoration:hover {
    text-decoration-color: black;
}

.anchor-hash {
    opacity: 0;
}

.pseudo-anchor:hover + .anchor-hash {
    opacity: 1;
}

.anchor {
    position: relative;
    top: -120px;
    visibility: hidden;
}

.h-85{
    height: 85%;
}

#order_item{
    border-radius: 7px;
    border: gray 1px solid;
    margin-bottom: 20px;
}

.link-decoration-hover{
    transition: all 0.3s ease;
    text-decoration: none
}

.link-decoration-hover:hover{
    color: #6e6e6e !important;
    text-decoration: underline 1px;
}